<!doctype html>
<html>

<head>
  <title>Gamble</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header>
    <h1>roulette</h1>
    <span>Staff: </span>
    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    <h2>Play Below!</h2>
  </header>

  <!-- ***********************roulette GAME******************************* -->

  <div class="container">
    <div class="play">

        <input type="text" name="bet" class="bet" value="" placeholder="You Bet Amout">

        <select class="color" name="color">
          <option value="x"> </option> <!-- intentionally left as empty string -->
          <option value="Red">Red</option>
          <option value="Black">Black</option>
          <option value="Green">Green</option>
        </select>

        <select class="num" name="number">
          <option value="x"> </option>  <!-- intentionally left as empty string -->
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="10">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
          <option value="32">32</option>
          <option value="33">33</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="36">36</option>
        </select>

        <button type="button" name="button" class="playGame">Submit Your Bet</button>

      <p class="userWin"><%=casino[0].userWin%></p>
      <p class="userLose"><%=casino[0].userLose%></p>
      <p class="casino"><%=casino[casino.length-1].totalMoney%></p>
      <p>Wheel: <span class="wheelOutcome"></span></p>
      <p>Outcome: <span class="outcome"></span></p>
    </div>
    <img src="/img/game.jpg" alt="" class="rules">
  </div>

  <script type="text/javascript" src="main.js"></script>
</body>

</html>
